* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}



header {

    text-shadow: 2px 2px 5px rgb(255, 255, 255);

    font-family: 'Courier New', Courier, monospace;

    background-color: black;

    display: flex;

    justify-content: center;

}

body {

    background-color: black;

}

#introdução,
#SCPs,
#classificação {

    display: flex;

    flex-direction: column;

    align-items: center;

}

.safe {

    font-family: 'Courier New', Courier, monospace;

    color: rgb(119, 177, 32);

    text-shadow: 2px 2px 5px rgb(119, 177, 32);

}

.euclid {

    font-family: 'Courier New', Courier, monospace;

    color: orangered;

    text-shadow: 2px 2px 5px orangered;

}

.keter {

    font-family: 'Courier New', Courier, monospace;

    color: red;

    text-shadow: 2px 2px 5px rgb(148, 26, 26)
}

.p1 {

    color: beige;

    font-family: 'Courier New', Courier, monospace;

}

p {
    margin-bottom: 20px
}

a {
    text-decoration: 0;
    animation: trocarcor 2s infinite
}
@keyframes trocarcor {
    0%   { color: rgb(255, 0, 0); }     /* vermelho */
25%  { color: rgb(0, 255, 0); }     /* verde */
50%  { color: rgb(0, 0, 255); }     /* azul */
75%  { color: rgb(255, 255, 0); }   /* amarelo */
100% { color: rgb(255, 0, 0); }     /* volta ao vermelho */
    
}

a:link {
    color: red;
}
a:visited {
    color: blueviolet;
    text-shadow: 2px 2px 5px blueviolet;
}